p.u-pin-center A free, ad-free, online multiplayer drawing and guessing game.
.u-container.u-container--column.u-container--justify-center.u-container--align-center.u-container--full-height
  .u-container.u-my30
    = link_to 'Host Game', create_room_path, class: 'c-button c-button--primary u-mx18'
    = link_to 'Join Game', nil,
      class: "c-button c-button--secondary u-mx18 #{flash.any? ? "c-button--pressed" : ""}"
  form.c-form__search class="#{flash.any? ? "invalid-input" : "hidden"}"
    = search_field_tag :search_game_room_input, nil, placeholder: 'Enter room code...', autocomplete: :off
    button
      i.fa.fa-search
  - if flash.any?
    - flash.each do |key, value|
      p.error = value

javascript:
  const joinButton = document.querySelector('.c-button--secondary');
  const searchInput = document.querySelector('#search_game_room_input');
  const searchButton = document.querySelector('form > button');

  joinButton.addEventListener('click', (event) => {
    event.preventDefault();
    joinButton.classList.add('c-button--pressed');
    const form = document.querySelector('form');
    if (form.classList.contains('hidden')) {
      form.classList.remove('hidden');
      joinButton.focus();
    }
  });
  searchButton.addEventListener('click', (event) => {
    event.preventDefault();
    if (searchInput.value.length > 0) {
      window.location.href = `/rooms/${searchInput.value}`;
    }
  });
  searchInput.addEventListener('keydown', (event) => {
    if (event.code === 'Enter') {
      const sanitizedInput = event.target.value.replace(/<(.|\n)*?>/g, '');
      event.preventDefault();
      if (sanitizedInput.length > 0) {
        window.location.href = `/rooms/${sanitizedInput}`;
      }
    }
  });
