
//@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap')
// font-family: 'Lobster Two', cursive

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap')
// font-family: 'Nanum Brush Script', cursive

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap')
// font-family: 'Oleo Script', cursive

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap')
// font-family: 'Pacifico', cursive

// display: -ms-flex; display: -webkit-flex; display: flex

// COLORS
$header-background-color: #FFFFFF
$main-background-color: #F3F2EF
$main-title-color: #4B2E83
$footer-background-color: #FFFFFF
$border-color: #A6A39E
$primary-button-color: #4CAF50
$secondary-button-color: #008CBA
$tertiary-button-color: #E7E7E7
$linkedin-color: #0177B5
$github-color: #6E5494
$error-color: red
$success-color: #80BFBF
$alternating-color: #EEF3F8
$clipboard-color: #6B5F4D
$white-smoke-color: #f5f5f5
$element-shadow-color: hsla(0, 0%, 0%, 0.2)
$element-shadow-hover-color: hsla(0, 0%, 0%, 0.3)
$correct-guess-color: green

// MIXINS
@mixin brush-stroke-border
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px
  border-top-left-radius: 255px 15px
  border-top-right-radius: 15px 225px
  border-bottom-right-radius: 225px 15px
  border-bottom-left-radius: 15px 255px

@mixin shadow
  box-shadow: 10px 19px 17px $element-shadow-color
  &:hover, &:focus
    box-shadow: 2px 8px 4px -6px $element-shadow-hover-color

// GENERAL STYLING
*, *::after, *::before
  box-sizing: border-box
  margin: 0
  padding: 0

body, input
  font-family: 'Nunito', sans-serif

body
  background-color: $main-background-color
  display: flex
  flex-direction: column
  height: 100vh

header
  flex: 0 1 auto
  font-family: 'Lobster Two', cursive
  padding: 21px 0px
  > .title
    display: flex
    justify-content: center
    > h1
      user-select: none
      transition: color 0.5s ease
      &:hover
        color: $main-title-color

main
  flex: 1 1 auto

footer
  flex: 0 1 auto
  padding: 10px 0px
  > a:first-child
    border-right: 1px solid $border-color
    padding-right: 10px
  > a:last-child
    padding-left: 10px

header, footer
  text-align: center

.u-container
  // flex direction row by default
  display: flex
  &.u-container--full-height
    height: 100%
  &.u-container--column
    flex-direction: column
  &.u-container--justify-center
    justify-content: center
  &.u-container--justify-around
    justify-content: space-around
  &.u-container--align-center
    align-items: center

.c-button
  @include brush-stroke-border
  @include shadow
  color: black
  text-decoration: none
  letter-spacing: 1px
  transition: all 0.5s ease
  background-color: rgba($main-background-color, 0.5)
  padding: 10px 20px
  &.c-button--primary
    border: 2px solid $primary-button-color
  &.c-button--secondary
    border: 2px solid $secondary-button-color
  &.c-button--tertiary
    background-color: $tertiary-button-color
    border: 2px solid black

.c-form
.c-form__search
  display: flex
  justify-content: center
  > input
    width: 20vw
    padding: 10px
    border: 2px solid $border-color
    border-radius: 10px 0 0 10px
    border-right: none
    outline: none
    background: none
    font-size: 13pt
  > button
    text-align: center
    cursor: pointer
    border: 2px solid $border-color
    border-radius: 0 10px 10px 0
    border-left: none
    padding: 5px
    padding-left: 8px
    padding-right: 8px
    border-left: 2px solid $border-color

.success
  color: $success-color

.error
  text-align: center
  color: $error-color
  margin: 8px 0px

.invalid-code
  animation: shake 0.5s ease-out

.hidden
  display: none


table
  height: 100%
  width: 100%

tr
  &.first-row
    height: 10%
  &.second-row
    height: auto
  &.third-row
    height: 15%

td
  border: 1px solid $border-color
  background-color: white
  &.td--muted
    background-color: transparent
    border: none
  &.first-column
    width: 20%
  &.second-column
    width: auto
  &.third-column
    width: 25%

canvas
  height: 100%
  width: 100%
  cursor: crosshair

.u-centered
  text-align: center

h2
  font-size: 1.5em
  font-weight: 300

.clipboard
  display: flex
  justify-content: center
  code
    background-color: $clipboard-color
    color: white
    padding: 10px
    border-radius: 0.4em 0 0 0.4em
    cursor: pointer
  button
    background-color: $clipboard-color
    border-radius: 0 0.4em 0.4em 0
    padding: 5px
    padding-left: 8px
    padding-right: 8px
    border-left: 2px solid gray
    color: white
    cursor: pointer

.player-container
  height: 100%
  overflow-y: auto

.player-card
  display: flex
  justify-content: space-between
  padding: 0px 15px
  align-items: center
  div
    display: flex
    align-items: center
  i
    font-size: 30px
  &:nth-child(even)
    background-color: $alternating-color

.success
  color: $correct-guess-color

.message, .player-card > div > p > b, .typing-message i
  word-break: break-word

.chat-container
  height: 100%
  overflow: auto
  > .message-container
    height: 87%
    max-height: 87%
    overflow-y: auto
    > li
      overflow: auto
      > p.message
        margin: 10px 5px
      &:nth-child(even)
        background-color: $alternating-color
  > .typing-message
    height: 5%
    padding: 0px 5px
    > p i
      width: 100%
  > form
    height: 8%
    > input
      width: 100%
      height: 100%
      padding: 0px 5px


.palette-element
  box-shadow: 8px 8px 5px $element-shadow-color
  border: 1px solid black
  background-color: transparent
  height: 40px
  width: 40px
  border-radius: 50%
  margin-left: 4px
  margin-right: 4px
  transition: all 0.35s ease
  &.palette-element--selected
    transform: scale(0.5)
  &:hover
    box-shadow: 2px 2px 0px $element-shadow-hover-color
  &.palette-element__clear-button
    background-image: (linear-gradient(270deg, lighten($white-smoke-color, 35%), white))
  &.palette-element__color
    &.palette-element__color--black
      background-image: (linear-gradient(270deg, lighten(black, 35%), black))
    &.palette-element__color--silver
      background-image: (linear-gradient(270deg, lighten(silver, 35%), silver))
    &.palette-element__color--red
      background-image: (linear-gradient(270deg, lighten(red, 35%), red))
    &.palette-element__color--orange
      background-image: (linear-gradient(270deg, lighten(orange, 35%), orange))
    &.palette-element__color--yellow
      background-image: (linear-gradient(270deg, lighten(yellow, 35%), yellow))
    &.palette-element__color--green
      background-image: (linear-gradient(270deg, lighten(green, 35%), green))
    &.palette-element__color--blue
      background-image: (linear-gradient(270deg, lighten(blue, 35%), blue))
    &.palette-element__color--purple
      background-image: (linear-gradient(270deg, lighten(purple, 35%), purple))
    &.palette-element__color--brown
      background-image: (linear-gradient(270deg, lighten(brown, 35%), brown))
    &.palette-element__color--white
      background-image: (linear-gradient(270deg, lighten($white-smoke-color, 35%), white))

@for $i from 1 through 30
  @if ($i % 2) == 0
    // margin
    .u-m#{$i}
      margin: 0px + $i
    .u-mx#{$i}
      margin-left: 0px + $i
      margin-right: 0px + $i
    .u-my#{$i}
      margin-top: 0px + $i
      margin-bottom: 0px + $i
    .u-mt#{$i}
      margin-top: 0px + $i
    .u-mr#{$i}
      margin-right: 0px + $i
    .u-mb#{$i}
      margin-bottom: 0px + $i
    .u-ml#{$i}
      margin-left: 0px + $i

    // padding
    .u-p#{$i}
      padding: 0px + $i
    .u-px#{$i}
      padding-left: 0px + $i
      padding-right: 0px + $i
    .u-py#{$i}
      padding-top: 0px + $i
      padding-bottom: 0px + $i
    .u-pt#{$i}
      padding-top: 0px + $i
    .u-pr#{$i}
      padding-right: 0px + $i
    .u-pb#{$i}
      padding-bottom: 0px + $i
    .u-pl#{$i}
      padding-left: 0px + $i

// FONT AWESOME ICONS
.fa
  font-size: 1.75em
  &.fa__social
    transition: all ease 0.3s
  &:hover
    opacity: 0.8
  &.fa-linkedin
    color: $linkedin-color
  &.fa-github
    color: $github-color

// KEYFRAMES
@keyframes shake
  8%, 41%
    transform: translateX(-10px)
  25%, 58%
    transform: translateX(10px)
  75%
    transform: translateX(-5px)
  92%
    transform: translateX(5px)
  0%, 100%
    transform: translateX(0)
